<!DOCTYPE html>
<html>
<head>
  <title>To Do List:</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
  <a href="/page1">Page 1</a>
  <h1><u>To Do List:</u></h1>



  <h2>My Tasks</h2>
  <ul>
    <% @things.each do |thing| %>
      <li><%= thing.to_s %></li>
    <% end %>
  </ul>

  <h2>My Goals </h2>
  <ul>
    <li>Dig deeper</li>
    <li>Say yes to less</li>
  </ul>

<body/>
</html>
